<div class="jumbotron text-center" style="margin: 10px; padding-top: 90px;">
  <h4 class="display-6">Number of Articles we published: <%= @articles.count %> </h4>
  <p class="lead">Here you can find the best articles of the world on every topic.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>